<!DOCTYPE html>
<html>
<head>
	<title>Delete User</title>
</head>
<body>
	<form method="post">
			<table>
				<tr>
					<td>Name:</td>
					<td><%=name%></td>
				</tr>
				<tr>
					<td>Company Name:</td>
					<td><%=companyname%></td>
				</tr>
				<tr>
					<td>Contact no:</td>
					<td><%=contactno%></td>
				</tr>
				<tr>
					<td>Username:</td>
					<td><%=username%></td>
				</tr>
				<tr>
					<td>Role:</td>
					<td><%=role%></td>
				</tr>
				<tr>
					<td>Are you sure?</td>
				</tr>
				<tr>
					<td><button type="submit">Confirm</button></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>