<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Edit User</legend>
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="name" value="<%=name%>"></td>
				</tr>
				<tr>
					<td>Company Name</td>
					<td><input type="text" name="companyname" value="<%=companyname%>"></td>
				</tr>
				<tr>
					<td>Contact no</td>
					<td><input type="text" name="contactno" value="<%=contactno%>"></td>
				</tr>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username" value="<%=username%>"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" value="<%=password%>"></td>
				</tr>
				<tr>
					<td>Role</td>
					<td>
						<select name="role">
							<option value="admin">Admin</option>
							<option value="employee">Employee</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><button type="submit">Confirm</button></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>